<html>
<head>
	<title>Word Search Counter</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
	<div class='container'>
		<h1>Word Search Calculator</h1>
		<h2>Enter a sentence and a word you would like to search in that sentence and I will tell you how many times that word is in your sentence:</h2>
		<form action='/results'>
			<div class='form-group'>
				<label for='sentence'>Enter Sentence: </label>
				<input id='sentence' name='sentence' class='form-control' type='text'>
			</div>
			<div class='form-group'>
				<label for='word'>Enter the Word you want to Search: </label>
				<input id='word' name='word' class='form-control' type='text'>
			</div>
			<br>
			<br>
			<button type='submit' class='btn btn-success'>Search</button>
		</form>
	</div>
</body>
</html>